/*
 
    Created on : 19 sept 2023, 19:25:58
    Author     : Seur

#encabezado{
    color:purple;
    font-weight: bold; 
}

#tituloprincipal{
    color: aquamarine;
}
.parrafoscentrados{
    text-align: center;
    font-weight: bold;
    color:#a834de;
}

.parrafosjustificados{
    text-align: justify;
    font-weight: bold;
    color:blue;
    
}
a:link{
    background-color: green;
    color: white;
}
a:visited{
    background-color: violet;
    color: whitel
}
a:hover{
    background-color: darkblue;
    color: white;
    
}
a:active{
    background-color: red;
    color: white;
}

p:nth-child(odd){
    background-color: darksalmon;
}

p:nth-child(even){
    background-color: cadetblue;
}
*/

#barralateral{
    position: absolute;
    height: 81%;
    top: 12%;
    left: 0;
    width:20%;
    background-color: #404859;
    padding: 10px;
}
#contenido{
    position: absolute;
    height: 81%;
    top: 12%;
    left: 20%;
    width: 80%;
    background-color: #21252b;
    padding: 10px;
    color: #cbc5c3;
    
}
#piepagina{
    position: absolute;
    height: 7%;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #21252b;
    padding: 10px;
    text-align: center;
}