/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 sept 2023, 20:11:54
    Author     : Seur
*/

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    paddin: 45px 20px 0px;
}
.header{
    background-color: #21252b;
    height: 12%;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    
}
.nav
{
    display: flex;
    justify-content: space-between;
    max-width: 990px;
    margin: 0 auto;
}
.nav-link{
    color:#cbc5c3;
    text-decoration: none;
    
}
.logo{
 color:    #cbc5c3;
 font-size: 35px;
 font-weight: bold;
 padding: 0 40px;
 line-height: 90px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    padding: 0 40px;
    line-height: 90px;
    
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 18px;
    width: max-content;
}

.nav-menu-link{
    padding: 0px;
    border-radius: 10px;
    
}

.nav-menu-link:hover{
background-color: #404859;
transition: 0.7s;
    
}